<launch>
	<!-- Play Rosbag and RVIZ -->
	<node pkg="rosbag" type="play" name="player" output="screen" args="-r 1 /home/lukas/Documents/MT/Real_Test/2019-04-15-15-18-16.bag"/>

	<node type="rviz" name="rviz_voxblox" pkg="rviz" args="-d $(find mav_active_3d_planning)/real_test/rviz_cfg.rviz"/>
	
		<!-- voxblox -->
	<node name="voxblox_node" pkg="voxblox_ros" type="esdf_server" output="screen" args="-alsologtostderr">
      <remap from="pointcloud" to="/penguin/os1_node/points"/>
<!--      <remap from="transform" to="/$(arg mav_name)/rovio/transform"/>-->
<!--      <rosparam command="load" file="$(find mav_active_3d_planning)/cfg/voxblox/transforms.yaml"/> -->
      <param name="use_tf_transforms" value="true"/>
      <param name="publish_tsdf_map" value="true" />
      <param name="publish_esdf_map" value="true" />
      <param name="tsdf_voxel_size" value="0.2" />
      <param name="tsdf_voxels_per_side" value="16" />
      <param name="color_mode" value="color" />
      <param name="update_mesh_every_n_sec" value="1.0" />
      <param name="method" value="fast" />
      <param name="max_ray_length" value="10" />
      <param name="allow_clear" value="true" />
      <param name="verbose" value="false" />
      <param name="publish_map_incremental" value="true" />
      <param name="publish_traversable" value="true" />
      <param name="publish_pointclouds" value="true" />
    </node>
</launch>
